<%- include("partials/header") -%>
<div class="cards">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque alias
  voluptatibus soluta iusto voluptas a officia explicabo vel dolorem?
</div>
<%- include("partials/footer") -%>
